.techImgWrapper {
  position: relative;
}

@media screen and (max-width: 24em) {
  .techImgWrapper {
    /*Makes the spinner relative to image container */
    position: relative;
    width: 120%;
    min-height: 170px;
  }
}

@media screen and (min-width: 48em) and (max-width: 64em) {
  .techImg {
    max-width: initial;
  }

  .techImgWrapper {
    width: 127%;
    min-height: 310px;
  }
}

@media screen and (min-width: 80em) {
  .techImgWrapper {
    margin-inline: 51% 0;
    min-height: 527px;
  }

  .techImg {
    width: auto;
    height: auto;
    max-width: initial;
  }
}
