.destinationContainer {
  padding-block: 2rem;
}

h1.destinationHeading {
  color: var(--text-secondary);
}

div.destinationContainer {
  justify-items: center;
  align-items: center;
  gap: 1.625rem 9.812rem;
}

.destinationHeading span {
  opacity: 0.25;
  font-weight: bold;
  margin-inline-end: 0.6em;
}

.destinationImg {
  width: clamp(10.937rem, 40vw, 27.812rem);
  height: clamp(10.937rem, 40vw, 27.812rem);
}

@media only screen and (min-width: 48em) {
  .destinationContainer {
    padding-block: 3.75rem;
  }
}

@media only screen and (min-width: 64em) {
  .destinationContainer {
    padding-block: 4rem;
  }
}
