.loadingDots {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #313131b5;
}

.mainDot {
  animation: move-left 300ms steps(2, jump-none) infinite alternate;
}

@keyframes move-left {
  0% {
    translate: 0%;
  }

  50% {
    translate: -30%;
  }

  100% {
    translate: -60%;
  }
}
