.loadingDots {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #313131b5;
}

.loadingDots circle {
  animation: fade 500ms steps(2, jump-none) infinite alternate;
}

.loadingDots circle:nth-child(1) {
  animation-delay: 650ms;
}

.loadingDots circle:nth-child(2) {
  animation-delay: 450ms;
}

.loadingDots circle:nth-child(3) {
  animation-delay: 250ms;
}

@keyframes fade {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
