.mainNavBtn {
  cursor: pointer;
  z-index: 2;
  border: 0;
  width: 1.5rem;
  height: 1.5rem;
  background: no-repeat url("/assets/shared/icon-hamburger.svg");
}

.active {
  background: no-repeat url("/assets/shared/icon-close.svg");
}

@media only screen and (min-width: 48em) {
  .mainNavBtn {
    display: none;
  }
}
