.mainNavItem:hover {
  border-inline-end: solid var(--border-hover-color);
}

.mainNavItem a {
  display: block;
  text-decoration: none;
  color: var(--text-secondary);
}

.mainNavItem:has(a:global(.active)) {
  border-inline-end: 3px solid var(--border-color-primary);
}

.mainNavItem span {
  font-weight: bold;
  margin-inline-end: 0.6em;
}

@media only screen and (min-width: 48em) and (max-width: 64em) {
  .mainNavItem span {
    display: none;
  }
}

@media only screen and (min-width: 48em) {
  .mainNavItem a {
    padding-block: 2em;
  }

  .mainNavItem:hover {
    border-inline: none;
  }

  .mainNavItem:has(a:global(.active)) {
    border-inline: none;
  }
}
