.mainNav {
  display: flex;
  gap: 2rem 2rem;
  list-style: none;
  text-align: left;
  font-family: var(--font-nav);
}

.mainNav {
  flex-direction: column;
}

@media only screen and (min-width: 48em) and (max-width: 64em) {
  .mainNav span {
    display: none;
  }
}

@media only screen and (min-width: 48em) {
  .mainNav {
    flex-direction: row;
  }
}

@media only screen and (min-width: 64em) {
  .mainNav {
    column-gap: 3em;
  }
}
