@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&family=Barlow&display=swap");

:root {
  --font-primary: "Barlow Condensed", sans-serif;
  --font-secondary: "Barlow", sans-serif;
  --font-tertiary: "Bellefair", serif;

  --font-body: var(--font-secondary);
  --font-heading: var(--font-tertiary);
  --font-subheading-1: var(--font-tertiary);
  --font-subheading-2: var(--font-primary);
  --font-explore-btn: var(--font-tertiary);
  --font-btn: var(--font-primary);
  --font-nav: var(--font-primary);

  --text-primary: #d0d6f9;
  --text-secondary: #ffffff;
  --text-tertiary: #0b0d17;

  --background-primary: #0b0d17;
  --background-secondary: #ffffff;

  --btn-bg-color-primary: #ffffff;

  --border-color-primary: #ffffff;
  --border-hover-color: #979797;

  font-size: 1rem;
  font-family: var(--font-body), sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-primary);
  text-align: center;

  background-color: var(--background-primary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
}

html {
  box-sizing: border-box;
}

button {
  font-family: var(--font-btn);
}

p {
  font-size: clamp(0.937rem, 2.09vw, 1.125rem);
  line-height: clamp(1.562rem, 3.7vw, 2rem);
}

.btn-reset {
  cursor: pointer;
  border: 0;
  background: transparent;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(327px, 1fr));
  gap: 5rem 0;
}

.mainWrapper {
  margin-inline: auto;
  width: min(1110px, max(327px, 80%));
}

.page-heading {
  padding-block: 0 2rem;
}

.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.subheading-1,
.subheading-2 {
  font-weight: 400;
  text-transform: uppercase;
}

.heading-1,
.heading-2,
.heading-3,
.heading-4 {
  font-family: var(--font-heading);
  color: var(--text-secondary);
}

.heading-1 {
  font-size: clamp(5rem, 0.8254rem + 17.8117vw, 9.375rem);
}

.heading-2 {
  /* font-size: 6.25rem; */
  font-size: clamp(3.5rem, 8.4vw + 1rem, 6.25rem);
}

.heading-3 {
  font-size: 3.5rem;
}

.heading-4 {
  /* font-size: 2rem; */
  font-size: clamp(1.25rem, 0.392rem + 3.785vw, 2rem);
}

.heading-5 {
  font-family: var(--font-subheading-2);
  font-size: clamp(1rem, 0.7256rem + 1.1707vw, 1.75rem);
  color: var(--text-primary);
  letter-spacing: clamp(0.178rem, -0.213rem + 0.189vw, 0.295rem);
}

.subheading-1 {
  font-family: var(--font-subheading-1);
  font-size: 1.75rem;
  color: var(--text-secondary);
  text-transform: uppercase;
}

.subheading-2 {
  font-family: var(--font-subheading-2);
  font-size: 0.875rem;
  color: var(--text-primary);
  text-transform: uppercase;
  letter-spacing: 2.35px;
}

.fade-in {
  animation: fade-in 250ms ease-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media only screen and (min-width: 52em) {
  :root {
    text-align: left;
  }
}
