.pageWrapper {
  min-height: 100vh;
  position: relative;
  overflow: clip;

  > picture > img {
    position: absolute;
    z-index: -100;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
