.nav ul {
  display: flex;
  gap: 2rem 2rem;
  list-style: none;
  text-align: left;
  font-family: var(--font-subheading), sans-serif;
}

@media only screen and (min-width: 64em) {
  .nav ul {
    column-gap: 3em;
  }
}
